adbc_driver_manager==1.3.0
adbc_driver_postgresql==1.3.0
adbc_driver_sqlite==1.3.0
AppKit==0.2.8
argon2==0.1.10
base58==2.1.1
boto3==1.35.90
botocore==1.35.90
bpython==0.24
brotli==1.1.0
brotlicffi==1.1.0.0
cbor2==5.6.5
cchardet==2.1.7
cffi==1.17.1
chardet==5.2.0
click==8.1.8
colorama==0.4.6
ConfigParser==7.1.0
ctypes-snappy==1.03
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.0.11
cython_test_exception_raiser==1.0.2
dask==2024.12.1
dl==0.1.0
docutils==0.21.2
ecdsa==0.19.0
ens==0.6.1
eth_abi==5.1.0
eth_account==0.13.4
eth_keys==0.6.0
eth_utils==5.1.0
fastparquet==2024.11.0
filelock==3.16.1
flatbuffers==24.12.23
Foundation==0.1.0a0.dev1
fsspec==2024.12.0
gobject==0.1.0
graphviz==0.20.3
h2==4.1.0
hatchling==1.27.0
hpack==4.0.0
html5lib==1.1
HTMLParser==0.0.2
hyperframe==6.0.1
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.6.0
lxml==5.3.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mnemonic==0.21
mock==5.1.0
mtrand==0.1
multihash==0.1.1
mypackage==0.1
mypy==1.14.1
nacl==0.0.0
numarray==1.5.1
Numeric==24.2
numexpr==2.10.2
odfpy==1.4.1
openpyxl==3.1.5
oracledb==2.5.1
package==0.1.1
passlib==1.7.4
pickle5==0.0.12
Pillow==11.0.0
priority==2.0.0
protobuf==5.29.2
psutil==6.1.1
psycopg==3.2.3
psycopg2_binary==2.9.9
py==1.11.0
py_eth_sig_utils==0.4.0
pygtk==2.24.2
PyHamcrest==2.1.0
PyInstaller==6.11.1
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyPgSQL==2.5
PyQt4==4.11.4
PyQt5==5.15.11
pyserial==3.5
pytest==8.3.4
python_bcrypt==0.3.2
python_calamine==0.3.1
pytrie==0.4.0
pyui==0.1.0
pywatchman==2.0.0
pywin32==308
pyxlsb==1.0.10
PyYAML==6.0.2
PyYAML==6.0.2
qrcode==8.0
qtpy==2.4.2
quixote==3.6
s3fs==2024.12.0
scikit_learn==1.6.0
scipy==1.14.1
sets==0.3.2
simplejson==3.19.3
Sphinx==8.1.3
SQLAlchemy==2.0.36
subunit==0.0.0a0
tables==3.10.1
tblib==3.0.0
thread==2.0.5
threadpoolctl==3.5.0
tornado==6.4.2
traitlets==5.14.3
trove_classifiers==2024.10.21.16
twisted_iocpsupport==1.0.4
txtorcon==24.8.0
ujson==5.10.0
umsgpack==0.1.0
urllib3_secure_extra==0.1.0
utmp==21.10.0
web3==7.6.1
wsaccel==0.6.7
wxPython==4.2.2
xarray==2024.11.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
yapf==0.43.0
zlmdb==23.1.1
zstandard==0.23.0
