{% extends "base_layout.html" %}
{% load static %}

{% block title %}Explore{% endblock %}

{% block content %}
Map stuff here
<canvas></canvas>
{% endblock %}

{% block scripts %}
<script>
    const mapName = '{{ map }}';
    const playerNum = '01';
    const jsonPath = '{% get_static_prefix %}data/maps/'
    const jsonUrl = '{% url 'map_data' %}'
    const worldMapUrl = '{% url 'world_map' %}'
</script>
<script src="{% static 'scripts/map_classes.js' %}"></script>
<script src="{% static 'scripts/map.js' %}"></script>
{% endblock %}