{% extends "base_layout.html" %}
{% load static %}

{% block title %}Explore{% endblock %}

{% block content %}
<div class="container">
    <div class="content-box" style="display:flex;width:fit-content;">
        <canvas class="map" style="display:flex;align-items:center;"></canvas>
        <div style="width:150px;height:400px;display:inline-block;">
            <h4 id="map-name"></h4>
            <div class="wild-pokemon center">
                <img id="wild-img" src=""/>
            </div>
            <span id="wild-name"></span>
            <span id="wild-level"></span>
            <button id="wild-button" onclick="" style="display:none;">Fight</button>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    const mapName = '{{ map }}';
    const playerNum = '04';
    const jsonPath = '{% get_static_prefix %}data/maps/';
    const jsonUrl = '{% url 'map_data' %}';
    const wildUrl = '{% url 'wild_battle' %}';
    const worldMapUrl = '{% url 'world_map' %}';
    const pokePath = '{% get_static_prefix %}{{ asset_paths.front|escapejs }}';
    const initialMap = JSON.parse('{{ map_data|safe }}');
</script>
<script src="{% static 'scripts/map_classes.js' %}"></script>
<script src="{% static 'scripts/map.js' %}"></script>
{% endblock %}