{% extends "base_layout.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'stylesheets/radio_cards.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/box.css' %}">
{% endblock %}

{% block scripts %}
<script>
var imgPath = "{% get_static_prefix %}assets/pokemon/front/";
var boxData = {{ box|safe }};
var detailedUrl = "{% url 'pokemon' %}?id="
</script>
<script src="{% static 'scripts/box.js' %}"></script>
{% endblock %}

{% block title %}Box{% endblock %}

{% block content %}

<div id="box">

</div>



{% endblock %}