{% extends 'base_layout.html' %}
{% load static %}
{% load stat_tags %}

{% block header %}
<link rel="stylesheet" href="{% static 'stylesheets/radio_cards.css' %}">
{% endblock %}

{% block content %}

<div id="battle">
    <div class="content-box" style="padding: 0px; display: grid; grid-template-columns: 480px 200px; grid-template-rows: 224px 130px; gap: 0px; width: 680px;">
        <div style="grid-area: 1 / 1; background-image: url('{% get_static_prefix %}{{ asset_paths.scene|replace:'\|/'  }}/{{ scene }}.png'); border: 1px solid black; position: relative;">

            <div id="opp_shadow" class="content-box battle-info right-clip" style="top: 0; left: 3px; background: rgb(60, 60, 60);"></div>
            <div id="player_shadow" class="content-box battle-info left-clip" style="bottom: 0; right: 3px; background: rgb(60, 60, 60);"></div>
            <div id="opp_info" class="content-box battle-info right-clip" style="top: 0; left: 0">
                <p id="opp_name"></p>
                <img src="" id="opp_status">
                <div class="experience-bar" style="background:red;width:180px;margin-top:8px;display:inline-block;">
                    <div id="opp_hp" style="width:100%;height:4px;background:lightgreen;"></div>
                </div>
            </div>
            <div id="player_info" class="content-box battle-info left-clip" style="bottom: 0; right: 0">
                <p id="player_name"></p>
                <img src="" id="player_status">
                <div class="experience-bar" style="background:red;width:180px;margin-top:8px;display:inline-block;">
                    <div id="player_hp" style="width:100%;height:4px;background:lightgreen;"></div>
                </div>
            </div>

            <img id="opp_spr" src="" style="position:absolute; left: 300px; top: 60px;" data-ox="300" data-oy="60">
            <img id="player_spr" src="" style="position:absolute; left: 70px; top: 130px;" data-ox="70" data-oy="130">

            <img id="player_splat" src="{% get_static_prefix %}assets/hitsplat.png" style="position:absolute; top: 90px; left: 330px; opacity: 0;z-index:100;">
            <img id="opp_splat" src="{% get_static_prefix %}assets/hitsplat.png" style="position:absolute; top: 160px; left: 100px; opacity: 0; z-index:100;">

            <div id="player_balls" style="position:absolute; top:159px; left: 280px;">
            </div>
            <div id="opp_balls" style="position:absolute; top:45px; left: 10px;">
            </div>
        </div>
        <div style="grid-area: 2 / 1;padding:5px;">
            <div class="control-tab" id="end"></div>
            <div class="control-tab" id="select">
                <button class="move-box battler" onclick="openTab('control-tab', 'attack')">
                    <img class="icon" src="{% get_static_prefix %}{{ asset_paths.menu }}\attack.png">
                    Attack</button>
                <button class="move-box battler" onclick="openTab('control-tab', 'switch')">
                    <img class="icon" src="{% get_static_prefix %}{{ asset_paths.menu }}\switch.png">
                    Switch</button>
                <button class="move-box battler" onclick="openTab('control-tab', 'items')">
                    <img class="icon" src="{% get_static_prefix %}{{ asset_paths.menu }}\bag.png">
                    Items</button>
                <button class="move-box battler" onclick="sendMove({'action': 'surrender'})">
                    <img class="icon" src="{% get_static_prefix %}{{ asset_paths.menu }}\surrender.png">
                    {% if type == 'wild' %}Run Away{% else %}Surrender{% endif %}</button>
            </div>
            <div class="control-tab" id="attack" style="display:none;">
                <table class="center">
                    <tr>
                        <td>
                            <button id="move-1" class="move-box battler" onclick="sendMove(moves[0])">
                                <span></span><br>
                                <img src="">
                                <img src="">
                            </button>
                        </td>
                        <td>
                            <button id="move-2" class="move-box battler" onclick="sendMove(moves[1])">
                                <span></span><br>
                                <img src="">
                                <img src="">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="move-3" class="move-box battler" onclick="sendMove(moves[2])">
                                <span></span><br>
                                <img src="">
                                <img src="">
                            </button>
                        </td>
                        <td>
                            <button id="move-4" class="move-box battler" onclick="sendMove(moves[3])">
                                <span></span><br>
                                <img src="">
                                <img src="">
                            </button>
                        </td>
                    </tr>
                </table>
                <button onclick="openTab('control-tab', 'select')" class="button-3 button-back">Back</button>
            </div>
            <div class="control-tab" id="switch" style="display:none">
            </div>
            <div class="control-tab" id="items" style="display:none">
                <table class="center">
                    <tr>
                        <td><button class="button-3" onclick="openTab('item-tab', 'medicine')" {% if not medicines_allowed %}disabled{% endif %}>Medicines</button></td>
                        <td><button class="button-3" onclick="openTab('item-tab', 'ball')" {% if not balls_allowed %}disabled{% endif %}>Pokeballs</button></td>

                    </tr>
                </table>
                <div class="item-tab" id="medicine" style="display:block;"></div>
                <div class="item-tab" id="ball" style="display:none;"></div>
                <br>
                <button onclick="openTab('control-tab', 'select')" class="button-3 battler button-back">Back</button>
            </div>
            <div class="control-tab" id="item_target_select" style="display:none;"></div>
        </div>
        <div id="chat-log" cols="100" rows="20" style="grid-area: 1 / 2 / span 2" class="battle-log"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
const initialState = JSON.parse('{{ battle_state|safe }}');
const moveData = JSON.parse('{{ move_data|safe }}');
const roomName = {{ battle_id }};
const initialTurn = {{ current_turn }};
const isPlayerOne = {{ is_p1|yesno:"true,false" }};
const ballsAllowed = {{ balls_allowed|yesno:"true,false" }};
const medicinesAllowed = {{ medicines_allowed|yesno:"true,false" }};
const pokecenterUrl = '{% url 'pokecenter' %}';
const healUrl = '{% url 'pokecenter_heal' %}';
const initialOutput = JSON.parse('{{ output_log|safe }}');

const battleType = '{{ type }}';
const playerTrainer = '{% get_static_prefix %}{{ asset_paths.player_back|replace:'\|/' }}/{{ player_sprite }}.png';
const oppTrainer = {% if type == "npc" %}'{% get_static_prefix %}{{ asset_paths.trainer_sprite|replace:'\|/' }}/{{ opp_sprite }}.png'{% elif type == "live" %}'{% get_static_prefix %}{{ asset_paths.player_back|replace:'\|/' }}/{{ opp_sprite }}.png'{% else %}null{% endif %};

const typePath = '{% get_static_prefix %}{{ asset_paths.typing|replace:'\|/' }}';
const categoryPath = '{% get_static_prefix %}{{ asset_paths.moves|replace:'\|/' }}';
const iconPath = '{% get_static_prefix %}{{ asset_paths.icon|replace:'\|/' }}';
const frontPath = '{% get_static_prefix %}{{ asset_paths.front|replace:'\|/' }}';
const backPath = '{% get_static_prefix %}{{ asset_paths.back|replace:'\|/' }}';
const statusPath = '{% get_static_prefix %}{{ asset_paths.status|replace:'\|/' }}';
const itemPath = '{% get_static_prefix %}{{ asset_paths.item|replace:'\|/' }}';
const miscPath = '{% get_static_prefix %}{{ asset_paths.misc|replace:'\|/' }}';
</script>
<script src="{% static 'scripts/battleSocket.js' %}"></script>
{% endblock %}