{% extends 'base_layout.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'stylesheets/radio_cards.css' %}">
{% endblock %}

{% block content %}

<div class="content-box" style="margin-left:25;margin-right:25px;">
    <h5>Battle Mansion</h5>
    <h3>Floor {{ current_floor }}</h3>
    {% if floor_info %}
    <div style="position:relative;width:482px;height:226px;display:inline-block;">
        <img src="{% get_static_prefix %}{{ asset_paths.ui_scene }}/mansion_floor_{{ current_floor }}.png"
             style="border: 1px solid black; position:absolute;left:0">
        {% for trainer, info in floor_info.items %}
        <img src="{% get_static_prefix %}{{ asset_paths.trainer_sprite }}/{{ info.sprite }}.png"
             style="position:absolute;top:60px;left:{% widthratio forloop.counter 1 100 %}px"
             {% if forloop.counter < round_progress %}class="grayscale"{% endif %}>
        {% endfor %}
    </div>
    {% else %}
    Congratulations, you beat the Battle Mansion! Here are your rewards!
    <br>
    <br>
    {% endif %}
    <table style="display:inline-block">
        <tr>
            <td style="margin-left:30px">
                <p>Rewards</p>
                {% if rewards %}
                {% for reward, quantity, name in rewards %}
                <p><img src="{% get_static_prefix %}{{ asset_paths.item }}/{{ reward }}.png"> {{ name }} x{{ quantity }}</p>
                {% endfor %}
                {% else %}
                <p>Beat a floor to earn rewards!</p>
                {% endif %}
            </td>
            <td style="width:20px;"></td>
            <td>
                {% if floor_info %}
                <form method="POST" action="{% url 'battle_mansion' %}">
                    <input type="hidden" name="mansion" value="battle">
                    {% csrf_token %}
                    <button class="button-2 button-forward" {% if not can_fight %}disabled{% endif %}>Battle</button>
                </form>
                {% endif %}
                <form method="POST" action="{% url 'battle_mansion' %}">
                    <input type="hidden" name="mansion" value="leave">
                    {% csrf_token %}
                    <button class="button-2 button-back">Cash Out</button>
                </form>
            </td>
        </tr>
    </table>

</div>

{% endblock %}