{% extends "base_layout.html" %}
{% load static %}

{% block title %}Credits{% endblock %}

{% block content %}
<div class="content-box">
    <p>Credits for assets used.</p>
    <h4>Tilesets</h4>
    <p>KyleDove</p>
    <p>Heavy-Metal-Lover</p>
    <p>WesleyFG</p>
    <p>Dewitty</p>
    <p>Zetavares852</p>
    <p>XDinky</p>
    <p>Newtiteuf</p>
    <p>Alucus</p>
    <p>Erma96</p>
    <p>Hydrargirium</p>
    <p>Poison-Master</p>
    <p>Thedeadheroalistair</p>
    <p>Shutwig</p>
    <p>Asdsimone</p>
    <p>Xxdevil</p>
    <p>Steinnaples</p>
    <p>Hek-el-grande</p>
    <p>sylver1984</p>
    <p>NikNak93</p>
    <p>TeaAddiction</p>
    <p>Cuddlesthefatcat</p>
    <p>Magiscarf</p>
    <p>Gigatom</p>
    <p>The-Red-eX</p>
    <p>ChaoticCherryCake</p>
    <p>Speedialga</p>

    <h4>Trainer Sprites</h4>
    <p>KyleDove</p>
    <p>ChevuyFur</p>
    <p>Barubary</p>
    <p>Brumirage</p>
    <p>Grapo</p>
    <p>flagpolethreeup</p>

    <h4>Pokémon Sprites</h4>
    <p>Dragoon</p>
    <p>spaceemotion</p>
    <p>DiegoWT</p>
    <p>InnerMobius</p>
    <p>PKMNTrainerRick</p>

    <h4>Battle BGs</h4>
    <p>KWharever</p>
    <p>WesleyFG</p>
    <p>Zeo254</p>
    <h4>Misc Assets</h4>
    <p>Lemon</p>
</div>
{% endblock %}