<div class="stat-box" style="min-width: 260px">
    <table>
        <tr>
            <th>HP</th>
            <td>{{ hp }}</td>
            <td>{% include 'common/statbar.html' with stat=hp %}</td>
        </tr>
        <tr>
            <th>Attack</th>
            <td>{{ atk }}</td>
            <td>{% include 'common/statbar.html' with stat=atk %}</td>
        </tr>
        <tr>
            <th>Defense</th>
            <td>{{ def }}</td>
            <td>{% include 'common/statbar.html' with stat=def %}</td>
        </tr>
        <tr>
            <th>Sp. Attack</th>
            <td>{{ spa }}</td>
            <td>{% include 'common/statbar.html' with stat=spa %}</td>
        </tr>
        <tr>
            <th>Sp. Defense</th>
            <td>{{ spd }}</td>
            <td>{% include 'common/statbar.html' with stat=spd %}</td>
        </tr>
        <tr>
            <th>Speed</th>
            <td>{{ spe }}</td>
            <td>{% include 'common/statbar.html' with stat=spe %}</td>
        </tr>
    </table>
</div>