{% extends "base_layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content-box content-text" style="text-align:left;">
    {% if user.is_authenticated %}
    <h4>Welcome</h4>
    <br><p>Brief tutorial. Use the Travel option to access the world map and select the map you want from the dropdown. "Oak village" is the default starting map. Maps that are "complete" should have wild Pokemon in the grass and NPCs to battle or talk to. Battles are all optional. WASD movement, hold B to run.</p>
    <br><p>Press enter to interact with NPCs or travel to new maps. Exclamation marks means a battle, ellipses means dialogue. Wild Pokemon appear in bubbles on the map, click them to battle.</p>
    <br><p>You can organize your pokemon with your box, and in the party panel. You can look at your items in your bag but currently it isn't usable.</p>
    <br><p>Learning moves and evolution can be done on a Pokemon's page.</p>
    <br><p>Battling trainers or challenging a gym under the "battle" tab brings you to a battle screen. If the battle is unresponsive, it's likely an issue with the websocket. Ping me and I'll clear your battle but tbh if battles are broken there's not a whole lot to do.</p>
    <br><p>Heal yourself at the Pokecenter and buy supplies at the Pokemart in the Town tab. Ignore the swarm alert, it has not been implemented. Trade center is not implemented. You can rebattle trainers and gyms for money but they will only give 10% of the original prize money.</p>
    <br><p>Battle mechanics should be a mix of Gen 5 and 6. I'm using my own battle engine so some moves are broken. Mechanics that should work include:</p>
    <br><ol>
        <li>Base power (doing damage) and accuracy</li>
        <li>Some status conditions; poison, burn, toxic poison, freeze, paralysis, and confusion</li>
        <li>Stat boosts and drains</li>
        <li>Recoil and lifedrain</li>
        <li>Weather setting MOVES like rain dance, sunny day, etc. Pokemon with abilities like sand rush/snow cloak should receive bonuses. Weather setting ABILITIES like drizzle do not work.</li>
    </ol>
    <br><p>There is a currently limited selection of Pokemon. The plan is to have all Pokemon up to gen 5, not counting all legendaries, implemented at some point.</p>
    <h4>Rules</h4>
    <img src="{% get_static_prefix %}{{ asset_paths.misc }}\rules.png">
    {% else %}
    <h4>Welcome to Project Harvold!</h4>
    <br>
    <p>Click the buttons below to get started!</p>
    <br>
    <a class="button-2" href="{% url 'login' %}">Log In</a>
    <br>
    <a class="button-2" href="{% url 'signup' %}">Sign up</a>
    <br>
    <br>
    <br>
    <div class="demo">
        <h4>Explore an amazing world!</h4>
        <img class="demo-img" style="width: 200px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\map_1.png">
        <img class="demo-img" style="width: 200px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\map_2.png">
        <img class="demo-img" style="width: 200px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\map_3.png">
        <h4>Fight trainers in intense battles!</h4>
        <img class="demo-img" style="width: 300px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\trainer.png">
        <img class="demo-img" style="width: 300px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\battle_2.png">
        <h4>Challenge gym leaders!</h4>
        <img class="demo-img" style="width: 300px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\gyms.png">
        <img class="demo-img" style="width: 300px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\battle_1.png">
        <h4>Catch 'em all!</h4>
        <img class="demo-img" style="width: 300px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\pokemon.png">
        <img class="demo-img" style="width: 300px; height: 200px;" src="{% get_static_prefix %}{{ asset_paths.demo }}\dex.png">
    </div>
    {% endif %}
</div>

{% endblock %}